.bigboss{
    display: flex;
}

.container{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 3px red solid;
}

.unclicked{
    background-color: white;
}
.clicked{
    background-color: black;
}

.topic{
    margin-bottom: 30px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    margin-top: 30px;
    text-align: center;
}

#reset, #change{
    color: rgb(34, 2, 2);
    background-color: rgb(131, 5, 93);
    border-radius: 5px;
    border-color: rgb(172, 3, 101);
    margin: 3px;
}

.userinput{
    display:flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#number{
    border: 3px rebeccapurple solid;
    border-radius: 4px;
}