.bigboss{
    display: flex;
    justify-content: space-around;
    height: 1200px;
    width: 1200px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 3px red solid;
}

.topic{
    margin-bottom: 30px;
    text-align: center;
    width: 1200px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset, .rain, .normal{
    margin-top: 30px;
    text-align: center;
}


#reset, #change, #rainbow, #normal{
    color: rgb(34, 2, 2);
    background-color: rgb(77, 129, 240);
    border-radius: 5px;
    border-color: rgb(172, 3, 101);
    margin: 3px;
}

.userinput{
    display:flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#number{
    border: 3px rebeccapurple solid;
    border-radius: 4px;
}